body { border: 0; padding: 0; font-family: Verdana,Arial,Helvetica,sans-serif; }
img { border: 0; vertical-align: middle; }
h1, h2, h3, h4, div, ul { padding: 0; margin: 0; }
li { list-style: none; }

.fieldWrapper { width: 100%; position: relative; }
.fieldWrapper label { display: inline-block; }
.help_text { font-size: 0.7em; left: 30px; width: 20%; position: absolute; margin-right: 1em; }
.attachments { margin-top: 0.4em; margin-bottom: 1em; display: block; clear: both; }
.report-node { margin: 1em; padding-bottom: 0.4em; border-bottom: 1px solid black; width: 500px;}
.report { margin: 1em; }
.atttachsg { margin: 1em; }

#add_attach { cursor: pointer; }
#show_optionals { text-decoration: underline; color: blue; cursor: pointer; clear: both; }
#optional { clear: both; }
#report dt { display: inline-block; width: 10em; }
#report dd { display: inline; padding: 0; }
#auth { float: right; clear: both; }

#container { margin: 2em; }
#addForm.index { min-height: 300px; width: 40%; padding: 0; margin: 0 1em 0 1em; float: right; }
#addForm .fieldWrapper label { display: inline-block; min-width: 6em; }
#addForm.index .help_text { font-size: 0.7em; width: 30%; position: relative; float: right; left: 0; }
.index #add_attach { cursor: pointer; }
#id_captcha_1 { width: 2em; }
.innerfield { display: inline-block; }
.align-right { text-align: right;}
dd.text { width: 30%; display: block !important; }
p label { width: 7em; display: inline-block; }
.button, #add_attach {
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 2px;
    -moz-border-radius: 2px;
    display: inline-block;
    padding: 0.3em;
}

#global ol li { list-style: decimal; }

.confirm { display: inline; position: relative; }
/*.confirm:hover > div { display: block; }*/
.confirm_popup { position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 20; opacity: 30%; }
.confirm_popup > div { background: #F7F7F7; border: 2px solid #454545; height: 133px; left: 50%; margin-left: -130px; margin-top: -66px; padding: 10px; position: absolute; top: 50%; width: 260px; }
.confirm_thanks { width: 17.2em; height: 6.7em; }
#footer { text-align: center; }
.hidden { display: none; }

.errorlist { font-size: .8em; color: red; }

table.listing, .pagination { width: 90%; margin: auto; }
table.listing thead td { font-weight: bold; border-bottom: 1px solid black; }
table.listing div.confirm_popup { right: 0; text-align: right; }
#content div.confirm_popup { left: 0; }

.cell-link { display: block; text-decoration: none; color: #000; }

.float-confirm { position: absolute; top: 1em; width: 360px; z-index: 99; right: 0px;}

.alpha60 {
/* Fallback for web browsers that doesn't support RGBa */
background: rgb(0, 0, 0) transparent;
/* RGBa with 0.6 opacity */
background: rgba(0, 0, 0, 0.6);
/* For IE 5.5 - 7*/
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
/* For IE 8*/
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

/* tables */
table.tablesorter {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    border: 1px solid #ccc;
    background-color: #fff;
    margin-bottom: 50px;
}

table.tablesorter tr th, table.tablesorter tr td {
    min-width: 75px;
    padding: 0.5em;
}

table.tablesorter tr th {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    text-transform: capitalize;
    font-weight: normal;
    text-align: center;
}

table.tablesorter tr td, table tr td {
    text-align: left;
}

/*table.tablesorter {
	font-family:arial;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}*/
/*table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}*/
table.tablesorter thead tr .header {
	background-image: url(/site_media/img/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
/*table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}*/
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(/site_media/img/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(/site_media/img/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}

table tr.filters {
    background: #ddd;
}

table tr.filters td{
    padding: 0.5em;
}

/* Main and bug fix
---------------------------*/

html {
  font-size: 100%;
}
body {
  margin: 0; padding: 0;
  font-family: Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
  font-size: 14.4px;
  line-height: 1.4;
  color: #231f20;
  background: #fff;
}
img {
  border: 0;
  vertical-align: middle;
}
blockquote {
  font-style: italic;
}

/* Fonts
---------------------------*/

@font-face {
  font-family: 'DroidSansRegular';
  src: url('../fonts/DroidSans-webfont.eot');
  src:
    url('../fonts/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DroidSans-webfont.woff') format('woff'),
    url('../fonts/DroidSans-webfont.ttf') format('truetype'),
    url('../fonts/DroidSans-webfont.svg#DroidSansRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DroidSansBold';
  src: url('../fonts/DroidSans-Bold-webfont.eot');
  src:
    url('../fonts/DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DroidSans-Bold-webfont.woff') format('woff'),
    url('../fonts/DroidSans-Bold-webfont.ttf') format('truetype'),
    url('../fonts/DroidSans-Bold-webfont.svg#DroidSansBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Header
---------------------------*/

#header-container {
  background: url('../img/background.png') repeat-x bottom #f9f9f9;
}
#header {
  max-width: 960px;
  margin: 0 auto;
  background: #f9f9f9;
}
#header a {
    color: #222;
    text-decoration: none;
}

h1 {
  margin: 25px 0 0 0; padding: 30px 0;
  font-family: 'DroidSansBold', Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
  font-size: 35px;
  line-height: 1;
  font-weight: normal;
}
h1 span {
  display: block;
  font-family: 'DroidSansRegular', Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
  font-size: .8em;
  font-weight: normal;
}

/* User */

#user {
  position: absolute;
  top: 0; right: 0;
  width: 100%;
  margin: 0; padding: .3em 0;
  color: #fff;
  background: #2d2d2d;
  box-shadow: 0px 2px 5px #aaa;
}
#user p {
  width: 960px;
  margin: 0 auto;
  text-align: right;
}
#user span,
#user a {
  padding: .2em .5em;
}
#user a {
  text-decoration: none;
  color: #fff;
}
#user a:hover,
#user a:active,
#user a:focus {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  outline: none;
}
#user #login {
  background: orange;
}
#user #login:hover,
#user #login:active,
#user #login:focus {
  background: #ff6c00;
}
#user #register:hover,
#user #register:active,
#user #register:focus {
  background: #6a6a6a;
}

/* Navigation menu */

#nav {
  height: 36px;
  margin: 0; padding: 0;
  list-style-type: none;
  border-bottom: 1px solid #ddd;
}
#nav li {
  display: inline-block;
}
#nav #current {
  color: #231f20;
  background: #fff;
  border: 1px solid #ddd;
  border-bottom: 1px solid #fff;
}
#nav #current:hover,
#nav #current:active,
#nav #current:focus {
  color: orange;
}
#nav a {
  display: block;
  height: 19px;
  padding: 8px 1em;
  text-decoration: none;
  color: #ccc;
  border: 1px solid #f0f0f0;
  border-bottom-color: #ddd;
  -moz-border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px 2px 0 0;
  -o-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
}
#nav a:hover,
#nav a:active,
#nav a:focus {
  color: #231f20;
  background: #fff;
  border: 1px solid #ddd;
  border-bottom-color: #fff;
  outline: none;
}

/* Content layout
---------------------------*/

#global {
  position: relative;
  width: 960px;
  margin: 25px auto 50px auto;
}

/* Content */

#content {
  width: 610px;
}
#global h2:first-child {
  margin-top: 0;
}
#global a {
  color: #4183c4;
  text-decoration: none;
}

#global a:hover,
#global a:active,
#global a:focus {
  border-bottom: thin dashed;
  outline: none;
}

#global a.button:hover {
    border-bottom: 2px solid #ccc;
    margin-bottom: -1px;
}


#global h2 {
  margin: .9em 0; padding: 0;
  font-family: 'DroidSansRegular', Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
  font-size: 20px;
  font-weight: normal;
}


/* View page */

.round-box, div#comments {
  padding: 0 15px 7px 15px;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset;
  color: #404040;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

div.comment {
    background-color: #f9f9f9;
    padding: 0.3em;
    margin: 0.5em 0;
}


/* Infrigement form */

#addForm.index {
  position: absolute;
  top: -62px; right: 0;
  width: 300px;
  padding: 1em;
  background: #e9f1f4;
  border: 1px solid #d8dee2;
  border-bottom-width: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
#addForm.index fieldset {
  margin: 0; padding: 0;
  border: none;
}
#addForm.index legend {
  width: 280px;
  padding: 7px 10px;
  text-shadow: 0 1px 0 #000;
  color: #fff;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.24, rgb(66,92,108)),
    color-stop(1, rgb(129,153,168))
  );
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(66,92,108) 24%,
    rgb(129,153,168) 100%
  );
  border: 1px solid #677c89;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
#report h2 {
  margin:  0 0 .9em 0; padding: 0;
  font-family: 'DroidSansBold', Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
  font-size: 20px;
  font-weight: normal;
}
#addForm.index input,
#addForm.index select,
#addForm.index textarea {
  width: 294px;
  padding: 3px;
  font-family: Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
  font-size: 14.4px;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top-color: #c0c0c0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
#addForm.index select,
#addForm.index input[type=submit] {
  width: 302px;
}
#addForm.index input:hover,
#addForm.index select:hover,
#addForm.index textarea:hover {
  border-color: #b9b9b9;
  border-top-color: #a0a0a0;
}
#addForm.index input:active,
#addForm.index input:focus,
#addForm.index select:active,
#addForm.index select:focus,
#addForm.index textarea:active,
#addForm.index textarea:focus {
  border-color: orange;
}
#addForm.index input[type=submit] {
  float: right;
  display: inline-block;
  right: 0;
  width: 40%;
  margin-top: 1em;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.43, rgb(227,227,227)),
    color-stop(1, rgb(249,249,249))
  );
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(227,227,227) 43%,
    rgb(249,249,249) 100%
  );
  border-color: #bbbbbb;
  border-bottom-color: #a0a0a0;
}
#addForm.index input[type=submit]:hover {
  border-color: #939393;
}
#addForm.index input[type=submit]:active,
#addForm.index input[type=submit]:focus {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.2, rgb(249,249,249)),
    color-stop(0.7, rgb(238,238,238))
  );
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(249,249,249) 20%,
    rgb(238,238,238) 70%
  );
  border-color: #444444;
}
#addForm.index label {
  font-weight: bold;
}
#addForm.index p {
  position: relative;
}
#addForm.index .help_text {
  position: absolute;
  top: 5px; left: -330px;
  display: none;
  width: 286px;
  margin-top: .5em; padding: 7px;
  font-size: .9em;
  color: #fff;
  background: rgba(0, 0, 0, .9);
  z-index: 99;
}

#content table {
  border-collapse: collapse;
  border-spacing: 0;
}
#content table {
  width: 100%;
  margin-bottom: 18px;
  padding: 0;
  border-collapse: separate;
  *border-collapse: collapse;
  font-size: 13px;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#content table th, table td {
  padding: 10px 10px 9px;
  line-height: 18px;
  text-align: left;
}
#content table th {
  padding-top: 9px;
  font-weight: bold;
  vertical-align: middle;
  border-bottom: 1px solid #ddd;
}
#content table td {
  vertical-align: top;
}
#content table th + th, table td + td {
  border-left: 1px solid #ddd;
}
#content table tr + tr td {
  border-top: 1px solid #ddd;
}
#content table tbody tr:first-child td:first-child {
  -webkit-border-radius: 4px 0 0 0;
  -moz-border-radius: 4px 0 0 0;
  border-radius: 4px 0 0 0;
}
#content table tbody tr:first-child td:last-child {
  -webkit-border-radius: 0 4px 0 0;
  -moz-border-radius: 0 4px 0 0;
  border-radius: 0 4px 0 0;
}
#content table tbody tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 4px;
  -moz-border-radius: 0 0 0 4px;
  border-radius: 0 0 0 4px;
}
#content table tbody tr:last-child td:last-child {
  -webkit-border-radius: 0 0 4px 0;
  -moz-border-radius: 0 0 4px 0;
  border-radius: 0 0 4px 0;
}
#content .zebra-striped tbody tr:nth-child(odd) td {
  background-color: #f9f9f9;
}
#content .zebra-striped tbody tr:hover td {
  background-color: #f5f5f5;
}
#content .zebra-striped .header {
  cursor: pointer;
}
#content .zebra-striped .header:after {
  content: "";
  float: right;
  margin-top: 7px;
  border-width: 0 4px 4px;
  border-style: solid;
  border-color: #000 transparent;
  visibility: hidden;
}

/* Infrigement form */
.messages, .info-validate {
  margin-top: .7em; padding: 7px 15px;
  background-color: #EEDC94;
  background-image: -moz-linear-gradient(center top , #FCEEC1, #EEDC94);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset;
  color: #404040;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.button{
  padding: 3px;
  font-family: Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
  font-size: 14.4px;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top-color: #c0c0c0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
}

.info-validate input[type=text],
.info-validate input[type=submit],
.info-validate input[type=button] {
  width: 60%;
  padding: 3px;
  font-family: Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
  font-size: 14.4px;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top-color: #c0c0c0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.info-validate input[type=submit],
.info-validate input[type=button] {
  width: 15%;
  padding-top: 2px;
  padding-bottom: 2px;
}
.button,
.info-validate input[type=submit],
.info-validate input[type=button] {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.43, rgb(227,227,227)),
    color-stop(1, rgb(249,249,249))
  );
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(227,227,227) 43%,
    rgb(249,249,249) 100%
  );
  border-color: #bbbbbb;
  border-bottom-color: #a0a0a0;
}
.button:hover,
.info-validate input[type=submit]:hover,
.info-validate input[type=button]:hover {
  border-color: #939393;
}
.button:active,
.button:focus,
.info-validate input[type=submit]:active,
.info-validate input[type=submit]:focus,
.info-validate input[type=button]:active,
.info-validate input[type=button]:focus {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.2, rgb(249,249,249)),
    color-stop(0.7, rgb(238,238,238))
  );
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(249,249,249) 20%,
    rgb(238,238,238) 70%
  );
  border-color: #444444;
}
.info-validate input:hover {
  border-color: #b9b9b9;
  border-top-color: #a0a0a0;
}
.info-validate input[type=text]:focus {
  border-color: orange;
}
.info-validate {
  display: none;
}
.info-validate:target {
  display: block;
}
