{% extends "base.html" %}
{% load bt %}
{% load i18n %}
{% block content %}
<div id='global'>
   <p>{% trans "RespectMyNet.eu is an online platform enabling citizens to become the watchmen of the Internet by reporting Net Neutrality violations. Everyone is invited to report undue blocking or throttling of their Internet access, and help  name and shame operators' harmful practices." %}</p>
<p>{% trans "This platform is a joint project by La Quadrature du Net, Bits of Freedom and individual contributors. It was launched on September 22nd, 2011." %}</p>
<p>{% trans "Organisations will submit reports to national and EU regulatory authorities if appropriate." %}</p>
<p>{% trans "For enquiries about the project, please contact:" %}</p>
<ul class="with-disc">
<li>{% trans "France" %}: <a href="http://www.laquadrature.net/">La Quadrature du Net</a> &ndash; contact[a]laquadrature.net</li>
<li>{% trans "Netherlands" %}: <a href="https://www.bof.nl/">Bits of Freedom</a> &ndash; info[a]bof.nl</li>
</ul>
<h3>Initiators</h3>
<ul>
   <li class="logo-org"><img alt="BoF logo" src="{%media_url%}/img/bof.png" /><a href="http://www.bof.nl">Bits of Freedom</a></li>
   <li class="logo-org"><img alt="LQDN logo" src="{%media_url%}/img/lqdn.png" /><a href="https://www.laquadrature.net/">La Quadrature du Net</a></li>
</ul>
<h3>Supporters</h3>
<ul>
   <li class="logo-org"><img alt="ORG logo" src="{%media_url%}/img/org.png" /><a href="http://www.openrightsgroup.org/">Open Rights Group</a></li>
   <li class="logo-org"><img alt="NURPA logo" src="{%media_url%}/img/nurpa.png" width="80" style="text-align: center; background:#446688"/><br /><a href="http://nurpa.be"><small>Net Users' Rights Protection Association</small></a></li>
</ul>
</div>
{% endblock %}
