{% extends "base.html" %}
{% load bt %}
{% load i18n %}
{% block styles %}
  <link rel="stylesheet" type="text/css" media="all" href="{% media_url %}/css/jquery.autocomplete.css" />
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{%media_url%}/js/tinymce/tiny_mce.js"></script>
<script type="text/javascript" src="{%media_url%}/js/editor.js"></script>
<script type="text/javascript" src="{%media_url%}/js/jquery.1.4.2.min.js"></script>
<script type="text/javascript" src="{%media_url%}/js/jquery.autocomplete.js"></script>
<script type="text/javascript" src="{%media_url%}/js/form.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  init_form();
  {% if not form.is_bound %}
  $(".fieldWrapper").hide();
  $("#id_country").parent().show();
  $("#save_button").hide();
  {% else %}
  if($("#id_contractual").attr('checked')==false) {
    $("#id_contract_excerpt").parent().hide();
  }
  {% endif %}
});
</script>
{% endblock %}

{%block content%}
  <h2>{% trans "New Violation" %}</h2>
<form id='addForm' name="addForm" enctype="multipart/form-data" action="{% root_url %}/add/" method="post">
  {% for field in form %}
      {% if field.label = 'Resource' %}<div id="show_optionals">{% trans "Provide optional details" %}</div><div id="optional">{%endif%}
      <div class="fieldWrapper">
          {{ field.errors }}
          <div class="help_text">{{ field.help_text }}</div>
          {{ field.label_tag }} {{ field }}
      </div>
  {% endfor %}
  </div>
  {% csrf_token %}
  <input id="save_button" type="submit" value="{% trans "save" %}" />
</form>
{%endblock%}
