{% load i18n %}{% load bt %}<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="hu" xml:lang="hu">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="en" />
    <meta name="description" content="The Internet bugtracker" />
    <meta name="keywords" content="internet network neutrality" />
    <title>{% block title %}[!] NNMon {% endblock %}</title>
    <meta name="robots" content="noarchive,noindex,nofollow">
    <link rel="alternate" type="application/atom+xml" title="Atom feed" href="/atom/">
    <link rel="alternate" type="application/rss+xml" title="RSS feed" href="/rss/">
    {% block rss %}
    {% endblock %}
    {% block scripts %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" media="all" href="{% media_url %}/css/style.css" />
    {% block styles %}
    {% endblock %}
</head>
<body>
	<div id="auth" class="menu">
	{% if user.is_authenticated %}
		<a href="{%root_url%}/accounts/settings">{{ user.username }}</a>
      <a href="{%root_url%}/accounts/logout">{% trans "Logout" %}</a>
      <a href="{%root_url%}/admin/">{% trans "Admin" %}</a>
	{% else %}
   <a href="{%root_url%}/accounts/login">{% trans "Login" %}</a>
   <a href="{%root_url%}/accounts/register">{% trans "Register" %}</a>
	{% endif %}
	</div>

	<div id="menu" class="menu">
      <a href="{%root_url%}/">{% trans "Home" %}</a>
      <a href="{%root_url%}/list">{% trans "Infringements" %}</a>
      <a href="{%root_url%}/about">{% trans "What's Net Neutrality" %}</a>
      <a href="{%root_url%}/start">{% trans "Start Monitoring" %}</a>
      <a href="{%root_url%}/contact/">{% trans "Contact" %}</a>
	</div>

{% block content %}
{% endblock %}
{% block other_content %}
{% endblock %}
  </div>
</body>
</html>
