{% load i18n %}{% load babel %}{% load bt %}<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="en" />
    <meta name="description" content="The Internet bugtracker" />
    <meta name="keywords" content="internet network neutrality" />
    <title>{% block title %}[!] Respect My Net {% endblock %}</title>
    <meta name="robots" content="noarchive,noindex,nofollow">
    <link rel="alternate" type="application/atom+xml" title="Atom feed" href="/atom/">
    <link rel="alternate" type="application/rss+xml" title="RSS feed" href="/rss/">
    {% block rss %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" media="all" href="{% media_url %}/css/style.css" />
    {% block styles %}
    {% endblock %}
</head>
<body>
<div id="wrapper">
<div id="header-container">
<div id="header">
   <h1><a href="/">Respect My Net <span>name and shame operators restricting access to the Internet</span></a></h1>

  <div id="user"><p>
	{% if user.is_authenticated %}
		{{ user.username }},
      <a href="{%root_url%}/accounts/logout">{% trans "Logout" %}</a>
      <span>or</span>
      <a href="{%root_url%}/admin/">{% trans "Admin" %}</a>
	{% else %}
      <a href="{%root_url%}/admin/" id="login">{% trans "Login" %}</a>
   {% endif %}
  </p></div>

  <ul id="nav">
     <li><a {% if request.path == '/' %}id="current" {% endif %}href="{%root_url%}/">{% trans "Home" %}</a></li>
     <li><a {% if request.path == '/list/' or '/view' in request.path %}id="current" {% endif %}href="{%root_url%}/list">{% trans "Cases" %}</a></li>
     <li><a {% if request.path == '/about/' %}id="current" {% endif %}href="{%root_url%}/about">{% trans "What's Net Neutrality" %}</a></li>
     <li><a {% if request.path == '/start/' %}id="current" {% endif %}href="{%root_url%}/start">{% trans "Start Monitoring" %}</a></li>
     <li><a {% if request.path == '/contact/' %}id="current" {% endif %}href="{%root_url%}/contact">{% trans "Contact" %}</a></li>
  </ul></div>
</div>
</div>

{% block content %}
{% endblock %}
{% block other_content %}
{% endblock %}
<div id='footer'>
{% block footer %}
{% endblock %}
</div>
{% block scripts %}
{% endblock %}
</body>
</html>
