{% extends "base.html" %}
{% load bt %}
{% load i18n %}
{% block styles %}
  <link rel="stylesheet" type="text/css" media="all" href="{% media_url %}/css/jquery.autocomplete.css" />
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{%media_url%}/js/tinymce/tiny_mce.js"></script>
<script type="text/javascript" src="{%media_url%}/js/jquery.1.4.2.min.js"></script>
<script type="text/javascript" src="{%media_url%}/js/jquery.autocomplete.js"></script>
<script type="text/javascript" src="{%media_url%}/js/jquery.tablesorter.min.js"> </script>
<script type="text/javascript" src="{%media_url%}/js/form.js"></script>
<script type="text/javascript">
function focushandlers(ed) {
    var s = ed.settings;
    var realID = $('#'+ed.id+'_tbl');
    tinymce.dom.Event.add(ed.getWin(), 'focus', function(e) {
        if($(realID)) {
            //console.log(realID);
            realID.parents('.fieldWrapper').find('.help_text').show();
        }
    });
    tinymce.dom.Event.add(ed.getWin(), 'blur', function(e) {
        if($(realID)) {
            //console.log(realID);
            realID.parents('.fieldWrapper').find('.help_text').hide();
        }
    });
}
$(document).ready(function(){
  init_form();
  {% if not form.is_bound %}
  $(".fieldWrapper").hide();
  $("#id_country").parent().parent().show();
  $("#save_button").hide();
  {% else %}
  if($("#id_contractual").attr('checked')==false) {
    $("#id_contract_excerpt").parent().parent().hide();
  }
  {% endif %}
  $("#sortedlist").tablesorter();
  $('.confirm_form').submit(function() {
     var self=this;
     $.ajax({url: '/confirm/'+$(this).attr('id')+'/'+$(this).children('input:first').attr('value'), success: function(data) { $(self).html(data); }});
     return false;
     });
   tinyMCE.init({
               mode : "textareas",
               width : "284",
               height : "140",
               theme : "advanced",
               theme_advanced_toolbar_align : "left",
               theme_advanced_toolbar_location : "top",
               theme_advanced_buttons1 : "bold,italic,underline,bullist,numlist,outdent,indent,blockquote,undo,",
               theme_advanced_buttons2 : "",
               theme_advanced_buttons3 : "",
               plugins : "paste",
               paste_auto_cleanup_on_paste : true,
               paste_strip_class_attributes: 'all',
               paste_remove_styles: true,
               init_instance_callback: focushandlers,
               valid_elements : "@[id|title|dir<ltr?rtl|lang|xml::lang],a[rel|rev|"
                                + "charset|hreflang|name|href|title],strong/b,em/i,"
                                + "strike,u,p,-ol,-ul,-li,br,-sub,-sup,-blockquote,"
                                + ",-code,-pre,address,-h1,-h2,-h3,-h4,-h5,"
                                + "-h6,hr[size|noshade],dd,dl,dt,cite,abbr,acronym,"
                                + "del[datetime|cite],ins[datetime|cite]",
             });
});
</script>
{% endblock %}

{%block content%}
<div id='container'>
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  <div id='addForm' class='index'>
    <h2>{% trans "Add New Infringement" %}</h2>
    <form name="addForm" enctype="multipart/form-data" action="{% root_url %}/add/" method="post">
      {% for field in form %}
      {% if field.html_name = 'resource' %}<div id="show_optionals">{% trans "Provide optional details" %}</div><div id="optional">{%endif%}
      <div class="fieldWrapper">
        <span class="help_text">{{ field.help_text }}</span>
        <span class="innerfield"
          {{ field.errors }}
          {{ field.label_tag }} {{ field }}
        </span>
      </div>
      {% endfor %}
    </div>
    {% csrf_token %}
    <input id="save_button" type="submit" value="{% trans "save" %}" />
    </form>
</div>
<div id='content'>
   <h2>{% trans "On Internet, you decide what you do, right? Not anymore!" %}</h2>
     <p>{% trans "Large telecommunication providers want to control what you do online. They want to block and throttle some of your communications, and charge you for using some online services, content and applications." %}</p>
     <p>{% trans "Now is the time to fight back!" %}</p>
     <p>{% trans "Help us chart all the ways that internet providers are violating our online freedom. Tell us about how *your* landline or mobile Internet provider restricts your connection. You can do so in less than two minutes!" %}</p>
     <p>{% trans "We will report these violations to the European Commission and national authorities and require action to address them." %}</p>
</div>
<div id='latest3'>
   <h2>{% trans "Latest Infringements" %}</h2>
<table>
  <thead>
    <tr>
      <th>{% trans "Infringing offering" %}</th>
      <th>{% trans "Confirmed" %}</th>
      <th>{% trans "I Confirm" %}</th>
    </tr>
  </thead>
  {% for violation in violations %}
  <tbody>
    <tr>
      <td><a href="/view/{{violation.pk}}">{{ violation.operator }} ({{ violation.country }}) {{ violation.contract }}</a></td>
      <td class='align-right'>{{ violation.confirmations }}</td>
      <td class='align-right'><div class="confirm"><a class="button">+1</a>
      <div class="hidden confirm_popup">
        <h3>{% trans "Confirmation" %}</h3>
        <p>
          <small>{% trans "I attest the existence of this infringement" %}</small>
          <form method="get" class="confirm_form" id="{{ violation.pk }}">
            {% trans "E-mail" %}: <input type="text" name="email" /><br />
            //{% trans "required" %}<br />
            <input type="hidden" value="{{ violation.pk }}" />
            <input type="submit" value="confirm" />
          </form>
        </p>
      </div>
    </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</div>
{%endblock%}
