{% extends "base.html" %}
{% load bt %}
{% load i18n %}
{% block styles %}
  <link rel="stylesheet" type="text/css" media="all" href="{% media_url %}/css/jquery.autocomplete.css" />
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{%media_url%}/js/tinymce/tiny_mce.js"></script>
<script type="text/javascript" src="{%media_url%}/js/jquery.1.4.2.min.js"></script>
<script type="text/javascript" src="{%media_url%}/js/jquery.autocomplete.js"></script>
<script type="text/javascript" src="{%media_url%}/js/jquery.tablesorter.min.js"> </script>
<script type="text/javascript" src="{%media_url%}/js/form.js"></script>
<script type="text/javascript">
function focushandlers(ed) {
    var s = ed.settings;
    var realID = $('#'+ed.id+'_tbl');
    tinymce.dom.Event.add(ed.getWin(), 'focus', function(e) {
        if($(realID)) {
            //console.log(realID);
            realID.parents('.fieldWrapper').find('.help_text').show();
        }
    });
    tinymce.dom.Event.add(ed.getWin(), 'blur', function(e) {
        if($(realID)) {
            //console.log(realID);
            realID.parents('.fieldWrapper').find('.help_text').hide();
        }
    });
}
$(document).ready(function(){
  init_form();
  {% if not form.is_bound %}
  $(".fieldWrapper").hide();
  $("#id_resource_name").parent().parent().show();
  $("#id_country").parent().parent().show();
  $("#id_operator").parent().parent().show();
  $("#id_contract").parent().parent().show();
  $("#id_media").parent().parent().show();
  $("#save_button").hide();
  {% else %}
  if($("#id_contractual").attr('checked')==false) {
    $("#id_contract_excerpt").parent().parent().hide();
  }
  $("#show_optionals").show();
  $("#optional .fieldWrapper").hide();
  if ($('#id_email').val().length>0) {
                               $('#id_captcha_0').parent().parent().show();
                               $('#save_button').removeAttr('disabled');
                               $("#show_optionals").show();
                             }
  {% endif %}
  $('.confirm_form').submit(function() {
     var self=this;
     $.ajax({url: '/confirm/'+$(this).attr('id')+'/'+$(this).children('input:first').attr('value'), success: function(data) { $(self).html(data); }});
     return false;
     });
   tinyMCE.init({
               mode : "textareas",
               width : "284",
               height : "140",
               theme : "advanced",
               theme_advanced_toolbar_align : "left",
               theme_advanced_toolbar_location : "top",
               //theme_advanced_buttons1 : "bold,italic,underline,bullist,numlist,outdent,indent,blockquote,undo,",
               theme_advanced_buttons1 : "",
               theme_advanced_buttons2 : "",
               theme_advanced_buttons3 : "",
               plugins : "paste",
               paste_auto_cleanup_on_paste : true,
               paste_strip_class_attributes: 'all',
               paste_remove_styles: true,
               init_instance_callback: focushandlers,
               valid_elements : "@[id|title|dir<ltr?rtl|lang|xml::lang],a[rel|rev|"
                                + "charset|hreflang|name|href|title],strong/b,em/i,"
                                + "strike,u,p,-ol,-ul,-li,br,-sub,-sup,-blockquote,"
                                + ",-code,-pre,address,-h1,-h2,-h3,-h4,-h5,"
                                + "-h6,hr[size|noshade],dd,dl,dt,cite,abbr,acronym,"
                                + "del[datetime|cite],ins[datetime|cite]",
             });
   $(".confirm").click(function(){
            $(this).parent().parent().find('.info-validate').toggle();
         });
   $(".cancel-button").click(function(){
            $(this).parent().parent().hide();
         });
});
</script>
{% endblock %}

{%block content%}
<div id='global'>
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  <div id='addForm' class='index'>
    <h2>{% trans "Add New Case" %}</h2>
    <p>{% trans "Please report cases of operators restricting or throttling access to content, services or applications. For a more precise description of what to report, check our <a href='/about/#guidelines'>guidelines</a>." %}
    <form name="addForm" enctype="multipart/form-data" action="{% root_url %}/add/" method="post">
      {% for field in form %}
      {% if field.html_name = 'comment' %}<div class="hidden errorlist">{% trans "There are already some reports for this Operator/Contract, please check if yours is already among them:" %}<ul id="similar_cases"></ul></div>{%endif%}
      {% if field.html_name = 'resource' %}<div id="show_optionals">{% trans "Provide optional details" %}</div><div id="optional">{%endif%}
      <div class="fieldWrapper">
         {% if field.help_text %}<span class="help_text">{{ field.help_text }}</span>{% endif %}
        <span class="innerfield">
          {{ field.errors }}
          {{ field.label_tag }} {{ field }}
        </span>
      </div>
      {% endfor %}
    </div>
    {% csrf_token %}
    <input id="save_button" type="submit" value="{% trans "save" %}" />
    </form>
  </div>
  <div id='content'>
   <h2>{% trans "On the Internet, <strong>you</strong> decide what you do, right? <i>Not anymore!</i>" %}</h2>
     <p>{% trans "Large telecommunication providers want to control what you do online. They want to block and throttle some of your communications, and charge you to use certain online services, content and applications." %}</p>
     <p>{% trans "Now is the time to fight back!" %}</p>
     <p>{% trans "Help us chart all the ways that internet providers are violating our online freedom. Tell us about how your landline or mobile operator Internet provider restricts your connection. You can do so in less than two minutes!" %}
     <p>{% trans "We will report these violations to the European Commission and national authorities and demand action to address them." %}</p>
     <p>{% trans "Don't hesitate to give us feedback on this application by reporting any idea or issue with RespectMyNet.eu here : <a href='https://nnmon.quadpad.lqdn.fr/feedback'>Feedback pad page</a>" %}</p>
   <h2 id="stats-title">{% trans "Statistics" %}</h2>
   <div id="stats_graph" ></div>
   <ul id="stats">
   {% for t, n in stats %}
     <li class="stat"><dl><dt class="inline">{{t}}</dt><dd class="inline"><strong>{{n}}</strong></dd></dl></li>
   {% endfor %}
   </ul>

   <h2 id="featured-title">{% trans "Featured Cases" %}</h2>
  <table id="featured_cases">
    <thead>
      <tr>
        <th style="width: 70%;">{% trans "Infringing offering" %}</th>
        <th>{% trans "Confirmed" %}</th>
        <th></th>
      </tr>
    </thead>
  <tbody>
  {% for violation in violations %}
    <tr>
       <td><a href="/view/{{violation.pk}}">{{ violation.operator }} ({{ violation.country|country }}) {{ violation.contract }}</a>
          <div class="info-validate">
            <form method="get" id="{{ violation.pk }}" class="confirm_form" >
                <label>{% trans "In order to <strong>confirm</strong> this report, please enter your email address" %}</label>
                <br/><input type="text" name="email" />
                <input type="submit" value="{% trans "OK" %}" />
                <input type="button" value="{% trans "Cancel" %}" class="cancel-button" />
                <input type="hidden" value="{{ violation.pk }}" />
              </form>
            </div>
       </td>
      <td class='align-right'>{{ violation.confirmations }}</td>
      <td class='align-right'><input type="button" class="confirm button" value="{% trans "Me too!" %}" />
      </td>
    </tr>
    <tr>
       <td colspan="3">
          <div id="description" class='round-box'>
             <strong>{% trans "Affected Resource" %}:</strong> {{violation.resource_name}}
            {%for c in violation.comment_set.all%}
            <div class="description">{{c.comment|safe}}</div>
            <span class="submitter">{%if c.submitter_name%}{{c.submitter_name}}{%else%}{{c.submitter_email}}{%endif%}</span> - <span class="comment_date">{{c.timestamp|date:"SHORT_DATE_FORMAT" }}</span>
            </div>
            {%endfor%}
          </div>
       </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</div>
{%endblock%}
