{% extends "base.html" %}
{% load bt %}
{% load i18n %}
{% block styles %}
   <link rel="stylesheet" href="{{ MEDIA_URL }}/css/map.css" type="text/css" />
{% endblock %}

{% block head %}
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}


{% block scripts %}
  <script type="text/javascript" src="{{ MEDIA_URL }}/js/script.min.js"></script>
  <script type="text/javascript">
     $script(['{{ MEDIA_URL }}/js/jquery.min.js'], 'jquery');
     $script(["{{ MEDIA_URL }}/js/jquery.tablesorter.min.js", "{{ MEDIA_URL }}/js/picnet.table.filter.min.js"], 'tables');
     $script(['{{ MEDIA_URL }}/js/raphael.min.js', '{{ MEDIA_URL }}/js/kartograph.min.js', '{{ MEDIA_URL }}/js/chroma.min.js', '{{ MEDIA_URL }}/js/qtip.min.js'], 'kartograph');
  </script>
  <script type="text/javascript">
     var data={% if countryweights %}{{countryweights|safe}}{%else%}null{% endif %};
     var country="{{country}}";
     $script.ready(['jquery','tables'], function() {
        $(document).ready(function() {
          $.tablesorter.addParser({
              // set a unique id
              id: 'stateparser',
              is: function(s) {
                  // return false so this parser is not auto detected
                  return false;
              },
              format: function(s) {
                  // format your data for normalization
                  return s{% for s, translation in status %}.replace(/{{translation}}/,{{forloop.counter}}){% endfor %};
              },
              // set type, either numeric or text
              type: 'numeric'
          });
          $("#sortedlist").tablesorter({
              headers: { 8: { sorter: false },
                         0: { sorter: 'stateparser' }},
              sortList: [[1,0],[0,0],[7,1]],
          });
          var options = { enableCookies: false };
          $('#sortedlist').tableFilter(options);
          $('.confirm_form').submit(function() {
             var self=this;
             var email=$(this).find('input:first').attr('value');
             if( email.length>0) {
                $.ajax({url: '/confirm/'+$(this).attr('id').slice(1)+'/'+email, success: function(data) { $(self).html(data); }});
             } else {
                $(this).find('[type=text]').focus();
             }
             return false;
          });
          $(".confirm > .button").click(function(){
                   $(this).parent().parent().parent().find('.info-validate').toggle();
                });
          $(".cancel-button").click(function(){
                   $(this).parent().hide();
                });
          });
     });
  </script>
  <script type="text/javascript" src="{{ MEDIA_URL }}/js/map.js"></script>
{% endblock %}

{%block content%}
<div id='global'>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% trans "Reported Cases" %}
<div id="map"> </div>
<p>{% trans "This is a list of all reported cases of Net Neutrality violations by our users. Please note that we do not validate the accuracy of these reports before they are published on this list, but rather rely on confirmations and supporting evidence offered by users. If you are subjected to one of the listed restrictions, please confirm it. Cases that are not considered violations of Net Neutrality under our guidelines will be removed or not be validated." %}</p>
</div>

<table class="listing tablesorter zebra-striped" id='sortedlist'>
  <thead>
<tr>
   <th filter-type='ddl'>{% trans "Status" %}</th>
   <th filter-type='ddl'>{% trans "country" %}</th>
   <th filter-type='ddl'>{% trans "operator" %}</th>
   <th filter-type='ddl'>{% trans "contract" %}</th>
   <th filter-type='ddl'>{% trans "resource" %}</th>
   <th filter-type='ddl'>{% trans "type" %}</th>
   <th filter-type='ddl'>{% trans "fixed / wireless" %}</th>
   <th filter='false'>{% trans "confirmations" %}</th>
   <th filter='false'></th>
</tr>
  </thead>
  <tbody>
{% for violation in violations %}
<tr class="{%if violation.state%}{{violation.state}}{%else%}new{%endif%}-status">
    <td><a class="cell-link" href="/view/{{violation.pk}}">{%if violation.state%}{{violation.state|status}}{%else%}{% trans "New" %}{%endif%}</a></td>
    <td><a class="cell-link" href="/view/{{violation.pk}}">{{ violation.country|country }}</a></td>
    <td><a class="cell-link" href="/view/{{violation.pk}}">{{ violation.operator }}</a></td>
    <td><a class="cell-link" href="/view/{{violation.pk}}">{{ violation.contract }}</a></td>
    <td><a class="cell-link" href="/view/{{violation.pk}}">{{ violation.resource_name }}</a></td>
    <td><a class="cell-link" href="/view/{{violation.pk}}">{{ violation.type|type }}</a></td>
    <td><a class="cell-link" href="/view/{{violation.pk}}">{{ violation.media|media }}</a></td>
    <td>{{ violation.confirmations }}</td>
   <td>
      <div class="confirm"><a class="button">{% trans "Me too!" %}</a>
         <div class="info-validate float-confirm">
            <form method="get" action="" id="i{{ violation.pk }}" class="confirm_form" >
               <div>
                  <label>{% trans "In order to <strong>confirm</strong> this report, please enter your email address" %}</label>
                  <input type="text" name="email" />
                  <input type="hidden" value="{{ violation.pk }}" />
                  <input type="submit" value="{% trans "OK" %}" />
               </div>
            </form>
            <input class="cancel-button" type="button" value="{% trans "Close" %}" />
         </div>
      </div>
    </td>
</tr>
{% endfor %}
  </tbody>
</table>
</div>
{%endblock%}
