{% extends "base.html" %}
{% load bt %}
{% load i18n %}
{% load babel %}
{% block content %}
<div id='global'>
<p>{% trans "On the Internet, <strong>you</strong> decide what you do, right? Not anymore!" %}</p>
<p>{% trans "Large telecommunication providers want to control what you do online. They want to restrict access to internet telephony in order to force you to use their telephone services. They want to charge you for viewing of videos. They want to prohibit the use of specific software on their networks, or throttle innovative applications such as peer-to-peer filesharing." %}</p>
<p>{% trans "This must stop. We want to ensure that your freedom online is protected and that you decide which content you access, and which applications and services you use. Net neutrality is about your freedom online." %}</p>
<p>{% trans "Violations on Net Neutrality are bad for freedom of communication, freedom of choice, innovation and communication costs. They lead to a situation where the provider can decide what you do online, not you, and this restricts your freedom. It becomes more difficult for innovative companies to offer their services via the internet, because they may be blocked or slowed down by providers. And it leads to higher communication costs because you may have to pay extra to use cheap services such as internet telephony." %}</p>
<p>{% trans "We need to ensure that the Internet remains free, open and accessible for all. This is what Net Neutrality is about. The European Commission and national regulators need to prohibit providers from restricting your online traffic and do so before it is too late. In order to convince them about the urgency of this problem, we aim to create a comprehensive report of Net Neutrality violations in Europe. This website is the way to report these violations." %}</p>
</div>
{% endblock %}
