{% extends "base.html" %}
{% load bt %}
{% load i18n %}
{% block content %}
<div id='global'>
<p>{% trans "On the Internet, <strong>you</strong> decide what you do, right? <em>Not anymore!</em>" %}</p>
<p>{% trans "Large telecommunication providers want to control what you do online. They want to restrict access to internet telephony in order to force you to use their telephone services. They want to charge you for viewing of videos. They want to prohibit the use of specific software on their networks, or throttle innovative applications such as peer-to-peer filesharing." %}</p>
<p>{% trans "This must stop. We want to ensure that your freedom online is protected and that you decide which content you access, and which applications and services you use. Net neutrality is about your freedom online." %}</p>
<p>{% trans "Violations on Net Neutrality are bad for freedom of communication, freedom of choice, innovation and communication costs. They lead to a situation where the provider can decide what you do online, not you, and this restricts your freedom. It becomes more difficult for innovative companies to offer their services via the internet, because they may be blocked or slowed down by providers. And it leads to higher communication costs because you may have to pay extra to use cheap services such as internet telephony." %}</p>
<p>{% trans "We need to ensure that the Internet remains free, open and accessible for all. This is what Net Neutrality is about. The European Commission and national regulators need to prohibit providers from restricting your online traffic and do so before it is too late. In order to convince them about the urgency of this problem, we aim to create a comprehensive report of Net Neutrality violations in Europe. This website is the way to report these violations." %}</p>
<h3><a id="guidelines">{% trans "Guidelines for reporting cases" %}</a></h3>
<p>{% trans "In reporting violations of Net Neutrality on RespectMyNet.eu, please describe only connection issues that are related to traffic discrimination, that is to say cases where Internet access providers discriminate traffic according to the source, destination, type or actual content of the data transmitted over the network (i.e. if your provider blocks traffic coming from YouTube or slows down Usenet traffic). If possible, please verify whether indeed the provider can be blamed: sometimes it is just the server itself which is not working (i.e. if a website is down, this is obviously not the fault of the internet access provider)." %}</p>
<p>{% trans "Sample of common ISP issues that DO NOT require a formal complaint (from: <a href='http://www.ispreview.co.uk/new/complain/complain.shtml'>http://www.ispreview.co.uk/new/complain/complain.shtml</a>)" %}</p>
<ul>
   <li>
   <p>{% trans "<b>Brief and Uncommon Critical Service (Email, Website Browsing etc.) Outages.</b>" %}</p>
   <p>{% trans "Sadly, ISPs experience occasional problems with online services, such as email access. These are  usually resolved after a few minutes or hours, an only very occasionally will they last longer than a day. Don't get too frustrated, inform them of your problem and allow some time for it to be resolved." %}</p>
    </li>
    <li>
    <p>{% trans "<b>General Fluctuations in Broadband Speed.</b>" %}</p>
    <p>{% trans 'Broadband is a so-called "best efforts" service, which means it is shared between many users and open to fluctuations in performance (often more so in dense urban areas). For example, if you have an 8Mbps package but your line is only rated to cope with 2Mbps then you should not be surprised to see speeds vary from around 1 to 1.5Mbps (potentially lower during peak periods). Few get the advertised or even best estimated speed for their line.' %}</p>
    </li>
    <li>
    <p>{% trans "<b>Short and Uncommon Broadband Connection Problems.</b>" %}</p>
    <p>{% trans "Once again, connections do sometimes go down and fail to connect/reconnect, though usually for no more than one day at most. These issues should be very rare and 9 times out of 10 they will be fixed within a few minutes or hours." %}</p>
    </li>
 </ul>
</div>
{% endblock %}
