{% extends "base.html" %}
{% load bt %}
{% load i18n %}
{% load babel %}
{% block content %}
<div id='global'>
   <p>{% trans "Do you want to check whether your access provider is manipulating your internet traffic? Great!" %}</p>
   <p> {% trans "There are a lot of tools which make life easier for you. Here is a short selection." %}</p>
   <h3>{% trans "Recommended tools" %}</h3>
   <p>{% trans "These tools are probably the most helpful when it comes to tracking traffic discrimination." %}</p>
<ul>
<li><h4><a href="http://www.neubot.org/">neubot</a></h4>
<p>{% trans "<em>Available for Mac OS X, Ubuntu (GNU/Linux) and Windows.</em>" %}</p>
<p>{% trans "Neubot is a research project on network neutrality of the NEXA Center for Internet & Society at Politecnico di Torino. The project is based on a lightweight open-source program that interested users can download and install on their computers. The program runs in background and periodically performs transmission tests with some test servers and with other instances of the program itself. These transmission tests probe the Internet using various application level protocols. The program saves tests results locally and uploads them on the project servers. The collected dataset contains samples from various Providers and allows to monitor network neutrality." %}</p>
</li>
<li><h4><a href="http://www.measurementlab.net/measurement-lab-tools#tool2">Glasnost test</a></h4>
<p>{% trans "<em>In-browser Java.</em>" %}</p>
<p>{% trans "Test whether certain applications or traffic are being blocked or throttled on your broadband connection.  Glasnost attempts to detect whether your Internet access provider is performing application-specific traffic shaping. Currently, you can test if your ISP is throttling or blocking email, HTTP or SSH transfer, Flash video, and P2P apps including BitTorrent, eMule and Gnutella." %}</p>
              
</li>
</ul>
<h3>{% trans "Additional tools" %}</h3>
<p>{% trans "These tools are interesting to test the overall quality of your Internet connections." %}</p>
<ul>
   <li><h4><a href="http://www.measurementlab.net/measurement-lab-tools#tool1">Network diagnostic tool</a></h4>
   <p>{% trans "<em>Runs on any browser and on <a href='http://ndt.googlecode.com/files/AndroidNdt-1.0b1.apk'>Android</a>.</em>" %}</p>
   <p>{% trans "Test your connection speed and receive sophisticated diagnosis of problems limiting speed." %}</p>
   </li>
   <li><h4><a href="http://www.measurementlab.net/measurement-lab-tools#tool3">Network path & application diagnostics</a></h4>
   <p>{% trans "Diagnose common problems that impact last-mile broadband networks." %}</p>
   </li>
   <li><h4><a href="http://www.measurementlab.net/measurement-lab-tools#tool4">Bandwidth test</a></h4>
   <p>{% trans "<em>Runs on Mac OS X, GNU/Linux and Windows</em>" %}</p>
   <p>{% trans "See how much bandwidth your connection provides" %}</p>
   </li>
   <li><h4><a href="http://www.measurementlab.net/measurement-lab-tools#tool5">Traffic shaping test</a></h4>
   <p>{% trans "<em>Runs on Mac OS X, GNU/Linux and Windows</em>" %}</p>
   <p>{% trans 'Determine whether an ISP is performing traffic shaping. ShaperProbe detects whether your ISP performs "traffic shaping". Traffic shaping means that your ISP automatically drops your access rate after you have downloaded or uploaded a certain number of bytes. ShaperProbe detects whether traffic shaping is used in either the upload or download directions, and in that case that it is used, ShaperProbe reports the shaping rate and the "maximum burst size" before shaping begins.' %}</p>
   </li>
   <li><h4><a href="http://gtnoise.net/nano/">NANO</a></h4>
   <p>{% trans "<em>Runs on GNU/Linux only for now, Mac OS X and Windows versions to come.</em>" %}
   <p>{% trans "Passive monitoring by NANO-agent: NANO-agent monitors the number of packets transferred for each active flow per unit time, as well as tracks for unexpected events like packet loss, and TCP RST packets.  NANO-agent coallates each flow with the application that owns the flow.  NANO agent also monitors the load on the client computer.  All these statistics are reported to collection servers located at Georgia Tech.  You may visualize your data by visiting this page." %}</p>
   <p>{% trans "<em>Privacy:</em> NANO will monitor all of your Internet traffic and send back limited statistics, but does not collect data on what is being sent." %}</p>
   </li>
   <li><h4><a href="http://aqualab.cs.northwestern.edu/projects/NEWS.html">NEWS</a></h4>
   <p>{% trans "Torrent-protocol based sensor plugin for Vuze/Azureus BitTorrent client using a crowd approach sharing data with peers." %}</p>
   </li>
   <li><h4><a href="http://www.aqualab.cs.northwestern.edu/projects/Dasu.html">DASU</a></h4>
   <p>{% trans "Torrent-protocol based sensor plugin for Vuze/Azureus BitTorrent client." %}</p>
   </li>
   <li><h4><a href="http://netalyzr.icsi.berkeley.edu/">netalyzr</a></h4>
   <p>{% trans "browser java applet" %}</p>
   <p>{% trans 'comprehensive tcp/udp and protocol level sensor see <a href="http://netalyzr.icsi.berkeley.edu/restore/id=example-session">example report</a> for capabilities' %}</p>
   </li>
</ul>
</div>
{% endblock %}
