{% extends "base.html" %}
{% load bt %}
{% load i18n %}
{% load babel %}
{% load comments %}
{% block styles %}
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{%media_url%}/js/jquery.1.4.2.min.js"></script>
<script type="text/javascript" charset="utf-8">
function bindPostCommentHandler() {
    $('#comment_form form input.submit-preview').remove();
    $('#comment_form form').submit(function() {
        var postdata=$('#comment_form form').serialize()+'&csrftoken={{csrf_token}}';
        $.ajax({
            type: "POST",
            data: postdata,
            url: "{% comment_form_target %}",
            cache: false,
            dataType: "html",
            success: function(html, textStatus) {
                $('#comment_form form').replaceWith(html);
                bindPostCommentHandler();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $('#comment_form form').replaceWith('Your comment was unable to be posted at this time.  We apologise for the inconvenience.');
            }
        });
        return false;
    });
}

$(document).ready(function() {
    bindPostCommentHandler();
});
</script>
{% endblock %}

{%block content%}
<ul id="report">
   <li><dl><dt>{% trans "Operator" %}</dt><dd>{{v.operator}} ({{v.country}})</dd></dl></li>
   <li><dl><dt>{% trans "Contract" %}</dt><dd>{{v.contract}}</dd></dl></li>
   {%if v.resource%}<li><dl><dt>{% trans "Resource" %}</dt><dd>{{v.resource}}</dd></dl></li>{%endif%}
   {%if v.resource_name%}<li><dl><dt>{% trans "Resource name" %}</dt><dd>{{v.resource_name}}</dd></dl></li>{%endif%}
   {%if v.type%}<li><dl><dt>{% trans "Type" %}</dt><dd>{{v.type}}</dd></dl></li>{%endif%}
   {%if v.media%}<li><dl><dt>{% trans "Media" %}</dt><dd>{{v.media}}</dd></dl></li>{%endif%}
   {%if v.temporary%}<li><dl><dt>{% trans "Temporary restriction" %}r</dt><dd>{{v.temporary}}</dd></dl></li>{%endif%}
   {%if v.loophole%}<li><dl><dt>{% trans "Loophole offering" %}</dt><dd>{{v.loophole}}</dd></dl></li>{%endif%}
   {%if v.contractual%}<li><dl><dt>{% trans "Contractual restriction" %}</dt><dd>{{v.Contractual}}</dd></dl></li>{%endif%}
   {%if v.contract_excerpt%}<li><dl><dt>{% trans "Contract excerpt" %}</dt><dd>{{v.contract_excerpt|safe}}</dd></dl></li>{%endif%}
  {%if v.comment_set.all%}
  <li id="description">
    <h3>{%trans "Description" %}</h3>
    {%for c in v.comment_set.all%}
    <div class="description-node">
      <span class="submitter">{%if c.submitter_name%}{{c.submitter_name}}{%else%}{{c.submitter_email}}{%endif%}</span> - <span class="comment_date">{{c.timestamp|datetimefmt:"short" }}</span>
      <div class="description">{{c.comment|safe}}</div>
      {%if c.attachment_set.all%}
      <div class="attachs">
         {% trans "Attachments" %}
        <ul>
          {%for a in c.attachment_set.all%}
          <li><a href="{{a.storage.url}}">{{a.storage.name}}</a></li>
          {%endfor%}
        </ul>
      </div>
      {%endif%}
    </div>
    {%endfor%}
  </li>
</ul>
  {%endif%}
  {% if not key %}
  <h3>{% trans "Comments" %}</h3>
  {% render_comment_list for v %}
  <h3>{% trans "Comment" %}</h3>
  {% get_comment_form for v as form %}
  <div id="comment_form">
    {% render_comment_form for v %}
  </div>
  {% else %}
  <a href='/moderate/?key={{key}}&action=approve'>Approve Submission</a>
  <a href='/moderate/?key={{key}}&action=delete'>Delete Submission</a>
  {% endif %}
{%endblock%}
