{% extends "base.html" %}
{% load bt %}
{% load i18n %}
{% load babel %}
{% load comments %}
{% block styles %}
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{%media_url%}/js/jquery.1.4.2.min.js"></script>
<script type="text/javascript" charset="utf-8">
function bindPostCommentHandler() {
    $('.toggle').click(function(){
      $(this).hide();
      $(this).next().show();
    });
    $('#comment_form form input.submit-preview').remove();
    $('#comment_form form').submit(function() {
        var postdata=$('#comment_form form').serialize()+'&csrftoken={{csrf_token}}';
        $.ajax({
            type: "POST",
            data: postdata,
            url: "{% comment_form_target %}",
            cache: false,
            dataType: "html",
            success: function(html, textStatus) {
                $('#comment_form form').replaceWith(html+"It will appear here after moderation.");
                bindPostCommentHandler();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $('#comment_form form').replaceWith('Your comment was unable to be posted at this time.  We apologise for the inconvenience.');
            }
        });
        return false;
    });
}

$(document).ready(function() {
    bindPostCommentHandler();
  $('.confirm_form').submit(function() {
     var self=this;
     $.ajax({url: '/confirm/'+$(this).attr('id')+'/'+$(this).children('input:first').attr('value'), success: function(data) { $(self).html(data); }});
     return false;
     });
});
</script>
{% endblock %}

{%block content%}
<div id='global'>
  <h2>{{v.operator}} ({{v.country}}) {{v.contract}}</h2>
<ul id="report">
  {%if v.comment_set.all%}
  <li id="description" class='round-box'>
    <h3>{%trans "Description" %}</h3>
    {%for c in v.comment_set.all%}
    <div class="description-node">
      <div class="description">{{c.comment|safe}}</div>
      <span class="submitter">{%if c.submitter_name%}{{c.submitter_name}}{%else%}{{c.submitter_email}}{%endif%}</span> - <span class="comment_date">{{c.timestamp|datetimefmt:"short" }}</span>
      {%if c.attachment_set.all%}
      <div class="attachs">
         {% trans "Attachments" %}
        <ul>
          {%for a in c.attachment_set.all%}
          <li><a href="{%media_url%}/{{a.storage.url}}">{{a.name}}</a></li>
          {%endfor%}
        </ul>
      </div>
      {%endif%}
    </div>
    {%endfor%}
  </li>
   {%if v.resource_name%}<li><dl><dt>{% trans "Resource" %}</dt><dd>{{v.resource_name}}</dd></dl></li>{%endif%}
   {%if v.type%}<li><dl><dt>{% trans "Type" %}</dt><dd>{{v.type}}</dd></dl></li>{%endif%}
   {%if v.media%}<li><dl><dt>{% trans "Media" %}</dt><dd>{{v.media}}</dd></dl></li>{%endif%}
   {%if v.temporary%}<li><dl><dt>{% trans "Temporary restriction" %}r</dt><dd>{{v.temporary}}</dd></dl></li>{%endif%}
   {%if v.loophole%}<li><dl><dt>{% trans "Loophole offering" %}</dt><dd>{% trans "yes" %}</dd></dl></li>{%endif%}
   {%if v.contractual%}<li><dl><dt>{% trans "Contractual restriction" %}</dt><dd>{% trans "yes" %}</dd></dl></li>{%endif%}
   {%if v.contract_excerpt%}<li><dl><dt>{% trans "Contract excerpt" %}</dt><dd class='text'>{{v.contract_excerpt|safe}}</dd></dl></li>{%endif%}
</ul>
  <div class="info-validate" style="display: inline-block;">
    <form method="get" id="{{ violation.pk }}" class="confirm_form" >
        <label>{% trans "In order to <strong>validate your confirmation</strong>, please enter your email address" %}</label>
        <input type="text" name="email" />
        <input type="hidden" value="{{ violation.pk }}" />
        <input type="submit" value="{% trans "confirm" %}" />
      </form>
   </div>
  {%endif%}
  {% if not key %}
  <div id="comments">
  <h3>{% trans "Comments" %}</h3>
  {% get_comment_list for v as cmt_list %}
  {% for comment in cmt_list %}
  <div class="comment">
     <p><a href="{{ comment.user_url }}">{{
        comment.user_name }}</a> - {{ comment.submit_date
     }}</p>
     {{ comment.comment }}
  </div>
  {% endfor %}
  <div class="toggle button">{% trans "Add comment" %}</div>
  <div id="comment_form" style="display: none;">
    {% render_comment_form for v %}
  </div>
  {% else %}
  <a class="button" href='/moderate/?key={{key}}&action=approve'>Approve Submission</a>
  <a class="button" href='/moderate/?key={{key}}&action=delete'>Delete Submission</a>
  </div>
  {% endif %}
</div>
{%endblock%}
